html {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*----------input stylings--------*/
.input {
  height: 400px;
  width: 100%;
  background-color: whitesmoke;
  color: white;
  padding-top : 4rem;
  padding-bottom: 3rem;
}

.input h1 img {
  /*width: 50%;*/
  padding-top: 1.25rem;
}

.input h3 {
  color: white;
  padding-bottom: 3rem;
}

.input form {
  width: 45%;
  margin: auto;
}

.input-label {
  float: left;
  color: black;
}

.input-type {
  height: 2.5rem;
  width: 100%;
  margin: .5rem 0 1.25rem 0;
  font-size: larger;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

#choose-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#choose-file, .file-label {
    font-size: large;
    height: 2.25rem;
    width: 10rem;
    color: black;
    background-color: #1AB5F2;
    display: inline-block;
    padding-top: 1.25rem;
}

#choose-file:focus, .file-label:focus,
#choose-file:hover, .file-label:hover {
    background-color: #FED136;
}

.submit-button:disabled {
  font-size: large;
  height: 3.5rem;
  width: 10rem;
  border: none;
  background-color: #1AB5F2;
  opacity: .6;
  color: black;
}

.submit-button {
  font-size: large;
  height: 3.5rem;
  width: 10rem;
  border: none;
  background-color: #1AB5F2;
  opacity: 1;
  color: black;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*------------download stylings-----------*/
.download {
  height: 40vh;
  background-color: #212529;
  background-size: 100%;
  padding: 1.5rem;
}

.download button {
  font-size: large;
  height: 3.5rem;
  width: 25rem;
  border: black;
  color : white;
}

.download button:hover{
	color: blue;
}

.download article {
  display: inline-block;
  position: relative;
  height: 1rem;
  width: auto;
  border: transparent;
  background-color: transparent;
  color: white;
  /*padding-top: 1rem;*/
  margin: 0.4rem;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Documenation and how to use stylings */
.docu {
	position: relative;
	margin: 0;
	width: 100%;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.docu h2 {
  color: white;
  font-size: normal;
	font-size: 70px;
	font-weight: normal;
	margin: 0;
}
.docu p {
	width: 60vw;
	margin: 40px auto;
	color: #000;
  line-height: 200%;
}

.docu a, a:visited {
	  color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    font-style:normal;
    background-color: #1AB5F2;
    padding:10px 15px;
    border-radius: 10px;
    text-decoration: none;
}

.docu a:hover {
    text-decoration: underline;
}

.block-about { background-color: #F2A03C; }
.block-howto { background-color: 	#F25430; }

/* These arent working for some reason */
.block-howto ol { color: black; list-style-type: lower-roman;}
.block-howto ol > ul { color: black; list-style-type: square;}
