
html {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/*----------section stylings--------*/

section {
  height: 50vh;
  width: 100%;
  background-color: #3E2A35;
  color: white;
}

h1 {
  font-weight: 800;
  font-size: 5rem;
  padding: 2rem 0 1rem 0;
}

h1 img {
  height: 4rem;
  width: 4.4rem;
}

form {
  width: 45%;
  margin: auto;
}

.input-labels {
  float: left;
  color: #C2B2B4;
}

.type-inputs {
  height: 2.5rem;
  width: 100%;
  margin: .5rem 0 1.25rem 0;
  font-size: larger;
}


.button-container {
  display: flex;
  justify-content: space-between;
}

#choose-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#choose-file, .file-label {
    font-size: large;
    height: 2.25rem;
    width: 10rem;
    color: #fff;
    background-color: #5B4447;
    display: inline-block;
    padding-top: 1.25rem;
}

#choose-file:focus, .file-label:focus,
#choose-file:hover, .file-label:hover {
    background-color: #938284;
}

.submit-button:disabled {
  font-size: large;
  height: 3.5rem;
  width: 10rem;
  border: none;
  background-color: #5B4447;
  opacity: .4;
  color: #fff;
}

.submit-button {
  font-size: large;
  height: 3.5rem;
  width: 10rem;
  border: none;
  background-color: #5B4447;
  opacity: 1;
  color: #fff;
}

/*------------main stylings-----------*/
main {
  height: 50vh;
  background-color: #C2B2B4;
  background-size: 100%;
  padding: 1.5rem; 
  overflow: scroll;
}

article {
  display: inline-block;
  position: relative;
  height: 20rem;
  width: 15rem;
  border: 2px solid #938284;
  background-color: #fff;
  color: #3E2A35;
  padding-top: 1rem;
  margin: 1.5rem;
}

h2 {
  width: 100%;
  overflow: scroll;
}

.file-container {
  height: 10.9rem;
  width: 14.9rem;
}

.new-file {
  padding:1rem 0 1rem 0;
  margin-top: 2rem;
  height: auto;
  width: auto;
  max-height: 10.9rem;
  max-width: 14.9rem;
  border: 1px solid black;
}

p {
  height: 5.175rem;
  width: 100%;
  overflow: scroll;
}

aside {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #5B4447;
  padding: .5rem 0 0 0;
  bottom: 0;

}

#delete-button, #love-button {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #5B4447;
}

#delete-button {
  background-image: url('../icons/delete.svg');
  background-size: cover;
}

#delete-button:focus {
  background-image: url('../icons/delete-active.svg');
}

#love-button {
  background-image: url('../icons/favorite.svg');
  background-size: cover;
}

#love-button:focus {
  background-image: url('../icons/favorite-active.svg');
}