<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NN4MC</title>
  <link rel="icon" type="icon/favicon" href="https://image.flaticon.com/icons/svg/2103/2103658.svg">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/reset.css">

  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
  <section>
    <h1>NN<img type="logo" name="logo" src="https://image.flaticon.com/icons/svg/2103/2103658.svg" alt="Type Swap Logo">4MC</h1>
      <form>
        <label for="input-title" class="input-labels">Title</label>
        <br>
        <input id="input-title" class="type-inputs" type="text" name="title">
        <br>
        <label for="input-type" class="input-labels">Output Type(s)</label>
        <br>
        <input id="input-type" class="type-inputs" type="text" name="type" placeholder=".ckpt, .v7, ...">
        <br>
        <div class="button-container" aria-label="button-container">
          <label for="choose-file" class="file-label">Upload File
            <input id="choose-file" type="File" name="choose-file" class="choose-add-buttons">
          </label>
          <button id="submit-button" type="submit" name="submit-button" class="choose-add-buttons submit-button" disabled>Swap File</button>
        </div>
      </form>
  </section>

  <main>

  </main>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/jquery.min.js"><\/script>')</script>
  <script type="text/javascript" src="../static/scripts.js"></script>
</body>
</html>
