<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NN4MC</title>
  <link rel="icon" type="image/favicon" href="https://image.flaticon.com/icons/svg/2103/2103658.svg">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<!-- /////////////////////////////////////////////////////////////////////// -->
<body>
  <!-- This is the main form and input -->
  <section>
    <h1>NN<img type="logo" name="logo" src="https://image.flaticon.com/icons/svg/2103/2103658.svg" alt="Type Swap Logo">4MC</h1>
    <h3> Neural Networks for Microcontrollers</h3>

    <a href="#about">More about nn4mc</a>
    <a href="#howto">How to use</a>

    <form action="/translateFile" method="post" enctype="multipart/form-data" >
      <label for="input-title" class="input-labels">Title</label>
      <br>
        <input id="input-title" class="type-inputs" type="text" name="user_title">
      <br>
      <label for="input-type" class="input-labels">Model Type</label>
      <br>
      <select id="input-type" class="type-inputs" type="text" name="model_type">
        <option value="">--Select Model Type--</option>
        <option value="hdf5">HDF5</option>
        <option value="pytorch" disabled>PyTorch</option>
      </select>
      <br>
      <div class="button-container" aria-label="button-container">
        <label id="uploader" for="choose-file" class="file-label">Upload File(s)
          <input id="choose-file" type="file" name="model_file" class="choose-add-buttons" multiple="file">
        </label>
        <button id="submit-button" type="submit" name="submit-button" class="choose-add-buttons submit-button" disabled>
          Translate File
        </button>
      </div>
    </form>
  </section>

<!-- /////////////////////////////////////////////////////////////////////// -->
  <!-- This is the download area -->
  <button id='download'> Download </button>

  <section>
    <img src='static/image/loader.gif' class='ld' hidden>
    <main id="file_cards" class="card-box" data-processed={{ processed|default('false') }}>
      {% if files is defined %}
      {% for name, data in files.items() %}
      <article id='{{ name }}' data-file_data='{{ data }}'>
        <h2>{{name}}</h2>
        <div class="file-container" aria-label="file-container">
          <p alt="bookmarked file" class="new-file">SOMETHING</p>
        </div>
        <aside>
          <button id="delete-button" type="submit" name="trash"></button>
          <button id="love-button" type="icon" name="love"></button>
        </aside>
      </article>
      {% endfor %}
      {% endif %}
    </main>
  </section>

<!-- /////////////////////////////////////////////////////////////////////// -->
  <!-- This is the documentation -->
  <a name="about"></a>
  <div class="docu block-about">
      <h1>About NN4MC</h1>
      <p>
          Neural Networks for Microcontrollers (nn4mc) is a software package
          designed to translate pre-trained neural network models into C code
          for use in embedded systems. Although originally designed with robotics
          in mind, nn4mc is perfect for anyone wishing to embed intelligence.
      </p>
      <p>
          Originally developed by Sarah Aguasvivas-Manzano, Dana Hughes, and Cooper
          Simpson, nn4mc is currently maintained and supported through the Correll
          Robotics Lab at the University of Colorado Boulder. The design and maintenance
          for this website is attributed to LeeLee Graham and Cooper Simpson.
      </p>
      <p>
          This website is powered by a Python implementation of nn4mc, but there
          also exists the original C++ implementation. Anyone further interested
          in nn4mc, collaborating, or to submit an issue please see the links below.
      </p>
      <ul>
        <li> <a href="PLACEHOLDER">nn4mc Python</a></li>
        <li> <a href="PLACEHOLDER">nn4mc C++</a></li>
        <li> <a href="PLACEHOLDER">nn4mc Web</a></li>
        <li> <a href="PLACEHOLDER">nn4mc Documentation</a></li>
        <li> <a href="PLACEHOLDER">Original nn4mc Paper</a></li>
      </ul>

  </div>

  <a name="howto"></a>
  <div class="docu block-howto">
      <h1>How to Use</h1>
      <p>
          Using nn4mc is very straightforward, just follow the steps below.</br>
          NOTE: Currently only HDF5 filetypes are supported.</br>
          NOTE: To translate from PyTorch you will need to upload a .pkl file
          with the model parameters and a ... file.
      </p>
      <ol>
        <li>Select the file type you would like to use from the drop down</li>
        <li>Upload the required files</li>
          <ul>
            <li>HDF5 From Keras/Tensorflow</li>
            <li>PyTorch</li>
          </ul>
        <li>Click translate</li>
          <ul>
            <li>Once the files are finished prcessing they will show up below the form</li>
          </ul>
        <li>Download the files as a zip</li>
      </ol>
  </div>

<!-- /////////////////////////////////////////////////////////////////////// -->
  <!-- These are the scripts...
  note: Look into some of the imports -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/node_modules/jquery.min.js"><\/script>')</script>

  <!-- Should maybe have backup files of these in scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.3.0/jszip.min.js"></script>
  <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>

  <!-- Our javascript -->
  <script type="text/javascript" src="/static/js/scripts.js"></script>

</body>
</html>
