<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="/static/js/scripts.js"></script>
  <meta charset="utf-8">
  <title>NN4MC</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<!-- /////////////////////////////////////////////////////////////////////// -->
<body>
  <!-- This is the main form and input -->
  <div class="input">
    <h1> <a href="/"><img type="logo" name="logo" src="static/image/nn4mc-v2-b.png" alt="NN4MC Logo" width="500"></a> </h1>
    <!--<h3> Neural Networks for Microcontrollers</h3>-->
	<br> 
    <form action="/translateFile" method="post" enctype="multipart/form-data" >
      <label for="input-type" class="input-label">Select your model type: </label>
      <br>
      <select id="input-type" class="input-type" type="text" name="model_type">
        <option value="">--Select Model Type--</option>
        <option value="hdf5">HDF5</option>
        <option value="pytorch" disabled>ONNX</option>
      </select>
      <br>

      <div class="button-container" aria-label="button-container">
        <label id="uploader" for="choose-file" class="file-label">Upload File(s)
          <input id="choose-file" type="file" name="model_file" class="choose-add-buttons" multiple="file">
        </label>
        <button id="submit-button" type="submit" name="submit-button" class="choose-add-buttons submit-button" disabled>
          Translate File
        </button>
      </div>
    </form>
  </div>

<!-- /////////////////////////////////////////////////////////////////////// -->
  <!-- This is the download area -->
  <img src="static/image/loader.gif" class="ld" alt="loader" hidden>
    	<div id="file_cards" class="download card-box"> 
		<!-- data-processed={{processed|default("false")}}> -->
 	{% if files is defined %}
    {% for name, data in files.items() %}
    <article id="{{ name }}" data-file_data="{{ data }}">
      <h6>{{name}}</h6>
    </article>
    {% endfor %}
    <p><a href="#" onClick="downloadFiles;"><button id="download" name = "download" type="download" class = 'btn btn-default'> Download Code </button></a></p>
  </div>
  {% endif %}


<!-- /////////////////////////////////////////////////////////////////////// -->
  <!-- These are the scripts...
  note: Look into some of the imports -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/node_modules/jquery.min.js"><\/script>')</script>

  <!-- Should maybe have backup files of these in scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.3.0/jszip.min.js"></script>
  <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>

  <!-- Our javascript -->
  <script type="text/javascript" src="/static/js/scripts.js"></script>

</body>
</html>
